<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>

		<!-- CATEGORIA DE PRODUCTO -->
		<add key="LISTAR_CATEGORIA_PRODUCTO" value="SP_LISTAR_CATEGORIA_PRODUCTO"/>
		<add key="FILTRAR_CATEGORIA_PRODUCTO" value="SP_FILTRAR_CATEGORIA_PRODUCTO"/>
		<add key="AGREGAR_CATEGORIA_PRODUCTO" value="SP_AGREGAR_CATEGORIA_PRODUCTO"/>
		<add key="ELIMINAR_CATEGORIA_PRODUCTO" value="SP_ELIMINAR_CATEGORIA_PRODUCTO"/>
		<add key="MODIFICAR_CATEGORIA_PRODUCTO" value="SP_MODIFICAR_CATEGORIA_PRODUCTO"/>

		<!-- EMPLEADOS -->
		<add key="LISTAR_EMPLEADOS" value="SP_LISTAR_EMPLEADOS"/>
		<add key="LISTAR_EMPLEADO_DIAS_DISPONIBLES" value="SP_LISTAR_EMPLEADO_DIAS_DISPONIBLES"/>
		<add key="FILTRAR_EMPLEADOS" value="SP_FILTRAR_EMPLEADOS"/>
		<add key="AGREGAR_EMPLEADOS" value="SP_AGREGAR_EMPLEADOS"/>
		<add key="ELIMINAR_EMPLEADOS" value="SP_ELIMINAR_EMPLEADOS"/>
		<add key="MODIFICAR_EMPLEADOS" value="SP_MODIFICAR_EMPLEADOS"/>

		<!-- FACTURA -->
		<add key="LISTAR_FACTURA" value="SP_LISTAR_FACTURA"/>
		<add key="FILTRAR_FACTURA" value="SP_FILTRAR_FACTURA"/>
		<add key="AGREGAR_FACTURA" value="SP_AGREGAR_FACTURA"/>

		<!-- INCAPACIDADES -->
		<add key="LISTAR_INCAPACIDADES" value="SP_LISTAR_INCAPACIDADES"/>
		<add key="FILTRAR_INCAPACIDADES" value="SP_FILTRAR_INCAPACIDADES"/>
		<add key="AGREGAR_INCAPACIDADES" value="SP_AGREGAR_INCAPACIDADES"/>
		<add key="ELIMINAR_INCAPACIDADES" value="SP_ELIMINAR_INCAPACIDADES"/>
		<add key="MODIFICAR_INCAPACIDADES" value="SP_MODIFICAR_INCAPACIDADES"/>

		<!-- MENAJE -->
		<add key="LISTAR_MENAJE" value="SP_LISTAR_MENAJE"/>
		<add key="FILTRAR_MENAJE" value="SP_FILTRAR_MENAJE"/>
		<add key="AGREGAR_MENAJE" value="SP_AGREGAR_MENAJE"/>
		<add key="ELIMINAR_MENAJE" value="SP_ELIMINAR_MENAJE"/>
		<add key="MODIFICAR_MENAJE" value="SP_MODIFICAR_MENAJE"/>

		<!-- MENU -->
		<add key="LISTAR_MENU" value="SP_LISTAR_MENU"/>
		<add key="FILTRAR_MENU" value="SP_FILTRAR_MENU"/>
		<add key="AGREGAR_MENU" value="SP_AGREGAR_MENU"/>
		<add key="ELIMINAR_MENU" value="SP_ELIMINAR_MENU"/>
		<add key="MODIFICAR_MENU" value="SP_MODIFICAR_MENU"/>

		<!-- MERMA PRODUCTO -->
		<add key="LISTAR_MERMA_PRODUCTO" value="SP_LISTAR_MERMA_PRODUCTO"/>
		<add key="FILTRAR_MERMA_PRODUCTO" value="SP_FILTRAR_MERMA_PRODUCTO"/>
		<add key="AGREGAR_MERMA_PRODUCTO" value="SP_AGREGAR_MERMA_PRODUCTO"/>
		<add key="ELIMINAR_MERMA_PRODUCTO" value="SP_ELIMINAR_MERMA_PRODUCTO"/>
		<add key="MODIFICAR_MERMA_PRODUCTO" value="SP_MODIFICAR_MERMA_PRODUCTO"/>

		<!-- MERMA PLATILLO -->
		<add key="LISTAR_MERMA_PLATILLO" value="SP_LISTAR_MERMA_PLATILLO"/>
		<add key="FILTRAR_MERMA_PLATILLO" value="SP_FILTRAR_MERMA_PLATILLO"/>
		<add key="AGREGAR_MERMA_PLATILLO" value="SP_AGREGAR_MERMA_PLATILLO"/>
		<add key="ELIMINAR_MERMA_PLATILLO" value="SP_ELIMINAR_MERMA_PLATILLO"/>
		<add key="MODIFICAR_MERMA_PLATILLO" value="SP_MODIFICAR_MERMA_PLATILLO"/>

		<!-- METODO DE PAGO -->
		<add key="LISTAR_METODODEPAGO" value="SP_LISTAR_METODODEPAGO"/>
		<add key="FILTRAR_METODODEPAGO" value="SP_FILTRAR_METODODEPAGO"/>
		<add key="AGREGAR_METODODEPAGO" value="SP_AGREGAR_METODODEPAGO"/>
		<add key="ELIMINAR_METODODEPAGO" value="SP_ELIMINAR_METODODEPAGO"/>
		<add key="MODIFICAR_METODODEPAGO" value="SP_MODIFICAR_METODODEPAGO"/>

		<!-- ORDEN DETALLADA -->
		<add key="LISTAR_ORDENDETALLADA" value="SP_LISTAR_ORDENDETALLADA"/>
		<add key="FILTRAR_ORDENDETALLADA" value="SP_FILTRAR_ORDENDETALLADA"/>
		<add key="AGREGAR_ORDENDETALLADA" value="SP_AGREGAR_ORDENDETALLADA"/>
		<add key="ELIMINAR_ORDENDETALLADA" value="SP_ELIMINAR_ORDENDETALLADA"/>
		<add key="MODIFICAR_ORDENDETALLADA" value="SP_MODIFICAR_ORDENDETALLADA"/>

		<!-- PLATILLO -->
		<add key="LISTAR_PLATILLO" value="SP_LISTAR_PLATILLO"/>
		<add key="FILTRAR_PLATILLO" value="SP_FILTRAR_PLATILLO"/>
		<add key="AGREGAR_PLATILLO" value="SP_AGREGAR_PLATILLO"/>
		<add key="MODIFICAR_PLATILLO" value="SP_MODIFICAR_PLATILLO"/>
		<add key="ELIMINAR_PLATILLO" value="SP_ELIMINAR_PLATILLO"/>

		<!-- PRODUCTOS -->
		<add key="LISTAR_PRODUCTOS" value="SP_LISTAR_PRODUCTOS"/>
		<add key="LISTAR_PRODUCTOS_2" value="SP_LISTAR_PRODUCTOS_2"/>
		<add key="FILTRAR_PRODUCTOS" value="SP_FILTRAR_PRODUCTOS"/>
		<add key="AGREGAR_PRODUCTOS" value="SP_AGREGAR_PRODUCTOS"/>
		<add key="ELIMINAR_PRODUCTOS" value="SP_ELIMINAR_PRODUCTOS"/>
		<add key="MODIFICAR_PRODUCTOS" value="SP_MODIFICAR_PRODUCTOS"/>

		<!-- PROVEEDOR -->
		<add key="LISTAR_PROVEEVOR" value="SP_LISTAR_PROVEEVOR"/>
		<add key="FILTRAR_PROVEEVOR" value="SP_FILTRAR_PROVEEVOR"/>
		<add key="AGREGAR_PROVEEVOR" value="SP_AGREGAR_PROVEEVOR"/>
		<add key="ELIMINAR_PROVEEVOR" value="SP_ELIMINAR_PROVEEVOR"/>
		<add key="MODIFICAR_PROVEEDOR" value="SP_MODIFICAR_PROVEEDOR"/>

		<!-- PUESTO -->
		<add key="LISTAR_PUESTO" value="SP_LISTAR_PUESTO"/>
		<add key="FILTRAR_PUESTO" value="SP_FILTRAR_PUESTO"/>
		<add key="INSERTAR_PUESTO" value="SP_AGREGAR_PUESTO"/>
		<add key="MODIFICAR_PUESTO" value="SP_MODIFICAR_PUESTO"/>
		<add key="ELIMINAR_PUESTO" value="SP_ELIMINAR_PUESTO"/>

		<!-- SERVICIOS PROFESIONALES -->
		<add key="LISTAR_SERVICIOS_PROFESIONALES" value="SP_LISTAR_SERVICIOS_PROFESIONALES"/>
		<add key="FILTRAR_SERVICIOS_PROFESIONALES" value="SP_FILTRAR_SERVICIOS_PROFESIONALES"/>
		<add key="AGREGAR_SERVICIOS_PROFESIONALES" value="SP_AGREGAR_SERVICIOS_PROFESIONALES"/>
		<add key="ELIMINAR_SERVICIOS_PROFESIONALES" value="SP_ELIMINAR_SERVICIOS_PROFESIONALES"/>
		<add key="MODIFICAR_SERVICIOS_PROFESIONALES" value="SP_MODIFICAR_SERVICIOS_PROFESIONALES"/>

		<!-- TIPO DE COMANDA -->
		<add key="LISTAR_TIPO_COMANDA" value="SP_LISTAR_TIPO_COMANDA"/>
		<add key="FILTRAR_TIPO_COMANDA" value="SP_FILTRAR_TIPO_COMANDA"/>
		<add key="AGREGAR_TIPO_COMANDA" value="SP_AGREGAR_TIPO_COMANDA"/>
		<add key="ELIMINAR_TIPO_COMANDA" value="SP_ELIMINAR_TIPO_COMANDA"/>
		<add key="MODIFICAR_TIPO_COMANDA" value="SP_MODIFICAR_TIPO_COMANDA"/>

		<!-- USUARIOS -->
		<add key="LISTAR_USUARIOS" value="SP_LISTAR_USUARIOS"/>
		<add key="FILTRAR_USUARIOS" value="SP_FILTRAR_USUARIOS"/>
		<add key="AGREGAR_USUARIOS" value="SP_AGREGAR_USUARIOS"/>
		<add key="ELIMINAR_USUARIOS" value="SP_ELIMINAR_USUARIOS"/>
		<add key="MODIFICAR_USUARIOS" value="SP_MODIFICAR_USUARIOS"/>

		<!-- VACACIONES -->
		<add key="LISTAR_VACACIONES" value="SP_LISTAR_VACACIONES"/>
		<add key="LISTAR_VACACIONES_ID_EMPLEADO" value="SP_LISTAR_VACACIONES_POR_ID_EMPLEADO"/>
		<add key="FILTRAR_VACACIONES" value="SP_FILTRAR_VACACIONES"/>
		<add key="AGREGAR_VACACIONES" value="SP_AGREGAR_VACACIONES"/>
		<add key="ELIMINAR_VACACIONES" value="SP_ELIMINAR_VACACIONES"/>
		<add key="MODIFICAR_VACACIONES" value="SP_MODIFICAR_VACACIONES"/>
		

		<!-- REPORTES -->
		<add key="FILTRAR_REPORTE_VENTAS_X_DIAS" value="SP_FILTRAR_REPORTE_VENTAS_X_DIAS"/>
		<add key="FILTRAR_REPORTE_VENTAS_X_FECHA" value="SP_FILTRAR_REPORTE_VENTAS_X_FECHA"/>
		<add key=" " value=" "/>
		<add key=" " value=" "/>
		<add key=" " value=" "/>

		<add key="FILTRAR_ORDEN" value="SP_ORDEN"/>

	</appSettings>



	<connectionStrings>
		<!-- STRING DE CONEXION POR MEDIO DE WINDOWS AUT, PONER EL NOMRE DEL LOCAL HOST (NOMBRE DEL SERVIDOR LOCAL) DESPUES DEL = EN DATA SOURCE-->
		<add name="WIN_AUT"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=KHS16-PC\SQLEXPRESS;
			 Initial Catalog=Grupo_Restaurante;
			 Integrated Security=True"/>

		<!-- STRING DE CONEXION POR MEDIO DE SQL SERVER-->
		<add name="SQL_AUT"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=KHS16-PC\SQLEXPRESS;
			 Initial Catalog=Grupo_Restaurante;
			 Persist Security Info=True;
			 User ID=sa;
			 Password=1745;"/>
	</connectionStrings>
</configuration>